<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <meta name="theme-color" content="#7952b3">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <style>
                main > .container {
                    padding: 60px 15px 0;
                    }
                .bd-placeholder-img {
                    font-size: 1.125rem;
                    text-anchor: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    user-select: none;
                }
                @media (min-width: 768px) {
                    .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                    }
                }
            </style>
        {% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
      
      {% include 'layout/header.html.twig' %}
        <!-- Begin page content -->
        <main class="flex-shrink-0">
        <div class="container">
        {% include 'layout/body.html.twig' %}
            {% block body %}{% endblock %}
        </div>
        </main>

       

    {% block javascripts %}
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    {% endblock %}

  </body>
</html>
